Source: python3-omemo-dr
Section: python
Priority: optional
Maintainer: Gajim Maintainers <ci@gajim.org>
Build-Depends:
    debhelper-compat (= 13),
    dh-python,
    python3-all,
    python3-setuptools (>= 65.0.0),
    python3-cryptography,
    python3-protobuf (>= 3.21.0),
Standards-Version: 4.1.4
Rules-Requires-Root: no
Homepage: https://dev.gajim.org/gajim/omemo-dr
Vcs-Git: https://dev.gajim.org/gajim/omemo-dr.git
Vcs-Browser: https://dev.gajim.org/gajim/omemo-dr/tree/master

Package: python3-omemo-dr
Architecture: any
Depends: ${misc:Depends},
    ${python3:Depends},
Description: OMEMO Encryption Library
